@use 'lib' as *;

.button {
	$self: &;
	--ground: var(--blue);
	--color: #fff;
	
	@extend %reset-button;
	transition: background-color 0.3s, color 0.3s;
	background-color: var(--ground);
	border: 1px solid var(--ground);
	border-radius: 100px;
	color: var(--color);
	width: fit-content;
	padding: 0 40px;
	height: 55px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 18px;
	
	@include media('<=xs') {
		font-size: 16px;
		height: 52px;
	}

	&_inverse {
		--ground: #fff;
		--color: var(--blue);
	}
	
	&_empty {
		background-color: transparent;
		--color: var(--blue);
	}
	
	&_empty#{&}_inverse {
		border-color: #fff;
		--color: #fff;
	}

	svg {
		fill: var(--blue);
		width: 24px;
	}
}