@use 'lib' as *;

.methods {
	$self: &;
	margin-bottom: 100px;
	
	@include media('<=xs') {
		margin-bottom: 60px;
	}

	&__inner {

	}

	&__title {
		margin-bottom: 24px;
	}
	
	&__text {
		margin-bottom: 50px;
		font-size: fluid(18px, 14px);
		font-weight: 300;

		@include media('<=xs') {
			margin-bottom: 38px;
		}
	}

	&__slider {
		position: relative;
	}

	&__cards.swiper {
		
		@include media('<=xs') {
			padding-top: 0;
			margin-left: calc(var(--container-gap) * -1);
			margin-right: calc(var(--container-gap) * -1);
			padding-left: var(--container-gap);
			padding-right: var(--container-gap);
		}
	}

	&__card {

	}

	&__controls {

	}

	&__controls {

		@include media('<=xs') {
			display: none;
		}
	}

	&__control {
		position: absolute;
		z-index: 2;
		top: calc(50% - 20px);

		&_prev {
			left: -18px;
		}

		&_next {
			right: -18px;
		}

		&.hidden {
			display: none;
		}
	}
}