@use 'lib' as *;

.faq {
	$self: &;
	margin-bottom: 60px;
	
	@include media('<=xs') {
		margin-bottom: 22px;
	}

	&__inner {
		column-count: 2;
		column-gap: 24px;
		column-width: 350px
	}

	&__item {
		break-inside: avoid;
		margin-bottom: 16px;

		@include media('<=xs') {
			margin-bottom: 8px;	
		}
	}
}