@use 'lib' as *;

.faq {
	$self: &;
	margin-bottom: 60px;
	
	@include media('<=xs') {
		margin-bottom: 22px;
	}

	&__inner {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 16px 24px;
		
		@include media('<=sm') {
			grid-template-columns: 1fr;
		}
		
		@include media('<=xs') {
			grid-gap: 8px;
		}
	}

	&__col {
		display: flex;
		flex-flow: column nowrap;
		gap: 16px;
		
		@include media('<=xs') {
			gap: 8px;
		}
	}

	&__item {

	}
}