<footer class="footer"> 
	<div class="footer__inner container">
		<div class="footer__body">
			<div class="footer__top">
				<img src="./images/logo-white.svg" alt="">
			</div>
			<div class="footer__bottom">
				<div class="footer__menu ft-menu">
					<h2 class="ft-menu__title">О компании</h2>
					<div class="ft-menu__links">
						<a class="ft-menu__link" href="./">Производство</a>
						<a class="ft-menu__link" href="./">Наши работы</a>
						<a class="ft-menu__link" href="./">Цены</a>
						<a class="ft-menu__link" href="./">Контакты</a>
					</div>
				</div>
				<div class="footer__menu ft-menu">
					<h2 class="ft-menu__title">Услуги</h2>
					<div class="ft-menu__links">
						<a class="ft-menu__link" href="./">Пошив</a>
						<a class="ft-menu__link" href="./">Печать</a>
						<a class="ft-menu__link" href="./">Вышивка</a>
						<a class="ft-menu__link" href="./">Сублимация</a>
						<a class="ft-menu__link ft-menu__link_wide" href="./">Мерч для бизнеса</a>
					</div>
				</div>
				<div class="footer__contact">
					<a class="footer__link" href="tel:+74951167957"><strong>Телефон:</strong> +7 495-116-79-57</a>
					<a class="footer__link" href="mailto:info+458761973@adwear.ru"><strong>E-mail:</strong> info+458761973@adwear.ru</a>
					<div class="footer__discuss discuss">
						<a class="footer__discuss-button discuss__button button button_empty" href="./">Обратный звонок</a>
						<a class="footer__discuss-social discuss__social" href="./"><svg><use xlink:href="#soc-tgrm"></use></svg></a>
						<a class="footer__discuss-social discuss__social" href="./"><svg><use xlink:href="#soc-wapp"></use></svg></a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__side">
			<a 
				class="footer__badge-yandex" 
				target="_blank" 
				href="//yandex.ru/maps/org/225321013337/reviews?utm_source=badge&amp;utm_medium=rating&amp;utm_campaign=v1" 
				style="background-image:url(https://avatars.mds.yandex.net/get-altay/1583613/badge_rating_light_5.0/orig)"
				rel="nofollow"
			></a>
			<a class="footer__badge-gs1" href="./"><img src="./images/badge-gs1.webp" alt=""></a>
			<a
				class="footer__badge-dreamjob"
				target="_blank"
				href="https://dreamjob.ru/employers/2564755"
				rel="nofollow"
			><img src="./images/badge-dreamjob.webp" alt=""></a>
			<a class="footer__badge-sign" href="./"><img src="./images/badge-sign.webp" alt=""></a>
		</div>
	</div>
</footer> 

@@include("_sprite.svg")
<script src="common.js?v=0"></script> 
</body> 
</html>