<div class="@@if(this.cls){@@cls} card-s swiper-slide">
	<div class="card-s__body">
		<div class="card-s__image">
			<button class="card-s__zoom"><svg><use xlink:href="#zoom"></use></svg></button>
			<img src="./images/stuff/card-@@image.webp" alt="">
		</div>
		<div class="card-s__bottom">
			<h3 class="card-s__title">@@title</h3>
			<div class="card-s__text">Материал: кулирка. Состав: 92% хб, 8% лайкра. Плотность: 200 г/м, качество материала: пенье (высшее). Нанесение логотипа: шелкография</div>
		</div>
	</div>
</div>