<div class="@@if(this.cls){@@cls} card-r swiper-slide">
	<div class="card-r__top">
		<h3 class="card-r__title">Бизнес-клуб Reforma</h3>
		@@include("_rating.html", { cls: "card-r__rating", rate: "@@rate"})
	</div>
	<div class="card-r__date">22 октября 2024</div>
	<div class="card-r__text">Благодарим компанию Адвир и Тимура за профессиональный четкий подход по производству футболок и толстовок для нашего бизнес-клуба. Оперативная и системная работа, сервис и главное — высокое качество изделий. До этого заказывали в других местах и было на порядок хуже, при этом дороже. Будем и дальше работать!</div>
	<a class="card-r__link" href="./">Отзыв в Яндексе</a>
</div>