<div class="cookie">
	<div class="cookie__text">
		<p>На Сайте осуществляется сбор файлов cookie — это небольшие текстовые  файлы, размещаемые браузером на компьютере для учёта пользовательской  активности; в аналогичных целях cookie-файлы использует подключенный на  Сайте сервис веб-аналитики «Яндекс.Метрика»: кукис никак вас не  идентифицируют, но позволяют нам обеспечить наибольший комфорт в вашем  взаимодействии с Сайтом.</p>
		
		<p>Оставаясь на Сайте и/или нажимая кнопку  «Принять и продолжить», вы даёте своё согласие на сбор и обработку  указанных файлов в порядке и на условиях, определяемых Политикой конфиденциальности данного Сайта</p>
	</div>
	<button class="cookie__button button">Принять и продолжить</button>
</div>