<div class="menu__panel">
	<div class="menu__controls">
		<button class="menu__control showed">Пошив</button>
		<button class="menu__control">Печать</button>
		<button class="menu__control">Вышивка</button>
		<button class="menu__control">Сублимация</button>
	</div>
	<div class="menu__catalog">
		<div class="menu__item menu__item_haschild">
			<span>ПОШИВ</span>
			<div class="menu__level menu__level_0 showed">
				<div class="menu__item menu__item_haschild">
					<span>Трикотаж</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">Трикотаж</a>
						<a class="menu__item" href="./">Футболки</a>
						<a class="menu__item" href="./">Лонгсливы</a>
						<a class="menu__item" href="./">Поло</a>
						<a class="menu__item" href="./">Свитшоты</a>
						<a class="menu__item" href="./">Худи</a>
						<a class="menu__item" href="./">Толстовки</a>
						<a class="menu__item" href="./">Бомберы</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>Верхняя одежда</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">Дождевики</a>
						<a class="menu__item" href="./">Ветровки</a>
						<a class="menu__item" href="./">Куртки-бомберы</a>
						<a class="menu__item" href="./">Куртки</a>
						<a class="menu__item" href="./">Верхняя одежда</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>Корпоративная одежда</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">Униформа</a>
						<a class="menu__item" href="./">Рубашки</a>
						<a class="menu__item" href="./">Фартуки</a>
						<a class="menu__item" href="./">Галстуки</a>
						<a class="menu__item" href="./">Платки</a>
						<a class="menu__item" href="./">Накидки</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>Сувенирная продукция</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">Пледы</a>
						<a class="menu__item" href="./">Подушки</a>
						<a class="menu__item" href="./">Тапочки</a>
						<a class="menu__item" href="./">Полотенца</a>
						<a class="menu__item" href="./">Халаты</a>
						<a class="menu__item" href="./">Шарфы</a>
						<a class="menu__item" href="./">Варежки/перчатки</a>
						<a class="menu__item" href="./">Флаги</a>
						<a class="menu__item" href="./">Напульсники</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>Сумки</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">Мешочки</a>
						<a class="menu__item" href="./">Шопперы</a>
						<a class="menu__item" href="./">Рюкзаки-мешки</a>
						<a class="menu__item" href="./">Поясные сумки</a>
						<a class="menu__item" href="./">Рюкзаки</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>Головные уборы</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">Бейсболки</a>
						<a class="menu__item" href="./">Шапки</a>
						<a class="menu__item" href="./">Банданы/косынки</a>
						<a class="menu__item" href="./">Бандана-труба</a>
						<a class="menu__item" href="./">Козырьки</a>
						<a class="menu__item" href="./">Банданы</a>
					</div>
				</div>
			</div>
		</div>
		<div class="menu__item menu__item_haschild">
			<span>ПЕЧАТЬ</span>
			<div class="menu__level menu__level_0">
				<div class="menu__item menu__item_haschild">
					<span>На трикотаже</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">На футболках</a>
						<a class="menu__item" href="./">На рубашках-поло</a>
						<a class="menu__item" href="./">На свитшотах</a>
						<a class="menu__item" href="./">На толстовках</a>
						<a class="menu__item" href="./">На бомберах</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>На верхней одежде</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">На дождевиках</a>
						<a class="menu__item" href="./">На ветровиках</a>
						<a class="menu__item" href="./">На жилетах</a>
						<a class="menu__item" href="./">На куртках</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>На корпоративной одежде</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">На униформе</a>
						<a class="menu__item" href="./">На фартуках</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>На сувенирной продукции</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">На пледах</a>
						<a class="menu__item" href="./">На подушках</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>На сумках</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">На мешочках</a>
						<a class="menu__item" href="./">На промо-сумках</a>
						<a class="menu__item" href="./">На рюкзаках-мешках</a>
						<a class="menu__item" href="./">На поясных сумках</a>
						<a class="menu__item" href="./">На рюкзаках</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>На головных уборах</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">На бейсболках</a>
						<a class="menu__item" href="./">На банданах/косынках</a>
						<a class="menu__item" href="./">На козырьках</a>
					</div>
				</div>
			</div>
		</div>
		<div class="menu__item menu__item_haschild">
			<span>ВЫШИВКА</span>
			<div class="menu__level menu__level_0">
				<div class="menu__item menu__item_haschild">
					<span>На трикотаже</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">На футболках</a>
						<a class="menu__item" href="./">На рубашках-поло</a>
						<a class="menu__item" href="./">На свитшотах</a>
						<a class="menu__item" href="./">На толстовках</a>
						<a class="menu__item" href="./">На бомберах</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>На верхней одежде</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">На дождевиках</a>
						<a class="menu__item" href="./">На ветровиках</a>
						<a class="menu__item" href="./">На жилетах</a>
						<a class="menu__item" href="./">На куртках</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>На корпоративной одежде</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">На униформе</a>
						<a class="menu__item" href="./">На рубашках</a>
						<a class="menu__item" href="./">На фартуках</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>На сувенирной продукции</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">На пледах</a>
						<a class="menu__item" href="./">На подушках</a>
						<a class="menu__item" href="./">На тапочках</a>
						<a class="menu__item" href="./">На полотенцах</a>
						<a class="menu__item" href="./">На халатах</a>
						<a class="menu__item" href="./">На напульсниках</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>На сумках</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">На промо-сумках</a>
						<a class="menu__item" href="./">На рюкзаках</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>На головных уборах</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">На бейсболках</a>
						<a class="menu__item" href="./">На шапках</a>
					</div>
				</div>
			</div>
		</div>
		<div class="menu__item menu__item_haschild">
			<span>СУБЛИМАЦИЯ</span>
			<div class="menu__level menu__level_0">
				<div class="menu__item menu__item_haschild">
					<span>На трикотаже</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">На футболках</a>
						<a class="menu__item" href="./">На рубашках-поло</a>
						<a class="menu__item" href="./">На свитшотах</a>
						<a class="menu__item" href="./">На толстовках</a>
						<a class="menu__item" href="./">На бомберах</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>На верхней одежде</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">На дождевиках</a>
						<a class="menu__item" href="./">На ветровиках</a>
						<a class="menu__item" href="./">На жилетах</a>
						<a class="menu__item" href="./">На куртках</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>На корпоративной одежде</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">На фартуках</a>
						<a class="menu__item" href="./">На галстуках</a>
						<a class="menu__item" href="./">На платках</a>
						<a class="menu__item" href="./">На накидках</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>На сувенирной продукции</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">На пледах</a>
						<a class="menu__item" href="./">На подушках</a>
						<a class="menu__item" href="./">На полотенцах</a>
						<a class="menu__item" href="./">На флагах</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>На сумках</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">На промо-сумках</a>
						<a class="menu__item" href="./">На рюкзаках-мешках</a>
						<a class="menu__item" href="./">На поясных сумках</a>
						<a class="menu__item" href="./">На рюкзаках</a>
					</div>
				</div>
				<div class="menu__item menu__item_haschild">
					<span>На головных уборах</span>
					<div class="menu__level menu__level_1">
						<a class="menu__item" href="./">На бейсболках</a>
						<a class="menu__item" href="./">На бандане-трубе</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>