<div class="menu__panel">
	<div class="menu__controls">
		<a class="menu__control showed" href="./">Пошив</a>
		<a class="menu__control" href="./">Печать</a>
		<a class="menu__control" href="./">Вышивка</a>
		<a class="menu__control" href="./">Сублимация</a>
	</div>
	<div class="menu__catalog">
		<!-- ПЕРВЫЙ БЛОК: ПОШИВ (showed) -->
		<div class="menu__item">
			<span class="menu__inside">ПОШИВ <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></span>
			<div class="menu__level menu__level_0 showed">
				<button class="menu__back">Назад</button>
				<div class="menu__item">
					<a class="menu__upside" href="./">ПОШИВ</a>
					<a class="menu__inside" href="./">Трикотаж <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">Футболки</a>
						<a class="menu__item" href="./">Лонгсливы</a>
						<a class="menu__item" href="./">Поло</a>
						<a class="menu__item" href="./">Свитшоты</a>
						<a class="menu__item" href="./">Худи</a>
						<a class="menu__item" href="./">Толстовки</a>
						<a class="menu__item" href="./">Бомберы</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">Верхняя одежда <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">Дождевики</a>
						<a class="menu__item" href="./">Ветровки</a>
						<a class="menu__item" href="./">Куртки-бомберы</a>
						<a class="menu__item" href="./">Куртки</a>
						<a class="menu__item" href="./">Верхняя одежда</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">Корпоративная одежда <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">Униформа</a>
						<a class="menu__item" href="./">Рубашки</a>
						<a class="menu__item" href="./">Фартуки</a>
						<a class="menu__item" href="./">Галстуки</a>
						<a class="menu__item" href="./">Платки</a>
						<a class="menu__item" href="./">Накидки</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">Сувенирная продукция <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">Пледы</a>
						<a class="menu__item" href="./">Подушки</a>
						<a class="menu__item" href="./">Тапочки</a>
						<a class="menu__item" href="./">Полотенца</a>
						<a class="menu__item" href="./">Халаты</a>
						<a class="menu__item" href="./">Шарфы</a>
						<a class="menu__item" href="./">Варежки/перчатки</a>
						<a class="menu__item" href="./">Флаги</a>
						<a class="menu__item" href="./">Напульсники</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">Сумки <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">Мешочки</a>
						<a class="menu__item" href="./">Шопперы</a>
						<a class="menu__item" href="./">Рюкзаки-мешки</a>
						<a class="menu__item" href="./">Поясные сумки</a>
						<a class="menu__item" href="./">Рюкзаки</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">Головные уборы <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">Бейсболки</a>
						<a class="menu__item" href="./">Шапки</a>
						<a class="menu__item" href="./">Банданы/косынки</a>
						<a class="menu__item" href="./">Бандана-труба</a>
						<a class="menu__item" href="./">Козырьки</a>
						<a class="menu__item" href="./">Банданы</a>
					</div>
				</div>
			</div>
		</div>

		<!-- ВТОРОЙ БЛОК: ПЕЧАТЬ -->
		<div class="menu__item">
			<span class="menu__inside">ПЕЧАТЬ <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></span>
			<div class="menu__level menu__level_0">
				<button class="menu__back">Назад</button>

				<div class="menu__item">
					<a class="menu__upside" href="./">ПЕЧАТЬ</a>
					<a class="menu__inside" href="./">На трикотаже <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">На футболках</a>
						<a class="menu__item" href="./">На рубашках-поло</a>
						<a class="menu__item" href="./">На свитшотах</a>
						<a class="menu__item" href="./">На толстовках</a>
						<a class="menu__item" href="./">На бомберах</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">На верхней одежде <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">На дождевиках</a>
						<a class="menu__item" href="./">На ветровиках</a>
						<a class="menu__item" href="./">На жилетах</a>
						<a class="menu__item" href="./">На куртках</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">На корпоративной одежде <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">На униформе</a>
						<a class="menu__item" href="./">На фартуках</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">На сувенирной продукции <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">На пледах</a>
						<a class="menu__item" href="./">На подушках</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">На сумках <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">На мешочках</a>
						<a class="menu__item" href="./">На промо-сумках</a>
						<a class="menu__item" href="./">На рюкзаках-мешках</a>
						<a class="menu__item" href="./">На поясных сумках</a>
						<a class="menu__item" href="./">На рюкзаках</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">На головных уборах <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">На бейсболках</a>
						<a class="menu__item" href="./">На банданах/косынках</a>
						<a class="menu__item" href="./">На козырьках</a>
					</div>
				</div>
			</div>
		</div>

		<!-- ТРЕТИЙ БЛОК: ВЫШИВКА -->
		<div class="menu__item">
			<span class="menu__inside">ВЫШИВКА <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></span>
			<div class="menu__level menu__level_0">
				<button class="menu__back">Назад</button>

				<div class="menu__item">
					<a class="menu__upside" href="./">ВЫШИВКА</a>

					<a class="menu__inside" href="./">На трикотаже <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">На футболках</a>
						<a class="menu__item" href="./">На рубашках-поло</a>
						<a class="menu__item" href="./">На свитшотах</a>
						<a class="menu__item" href="./">На толстовках</a>
						<a class="menu__item" href="./">На бомберах</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">На верхней одежде <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">На дождевиках</a>
						<a class="menu__item" href="./">На ветровиках</a>
						<a class="menu__item" href="./">На жилетах</a>
						<a class="menu__item" href="./">На куртках</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">На корпоративной одежде <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">На униформе</a>
						<a class="menu__item" href="./">На рубашках</a>
						<a class="menu__item" href="./">На фартуках</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">На сувенирной продукции <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">На пледах</a>
						<a class="menu__item" href="./">На подушках</a>
						<a class="menu__item" href="./">На тапочках</a>
						<a class="menu__item" href="./">На полотенцах</a>
						<a class="menu__item" href="./">На халатах</a>
						<a class="menu__item" href="./">На напульсниках</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">На сумках <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">На промо-сумках</a>
						<a class="menu__item" href="./">На рюкзаках</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">На головных уборах <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">На бейсболках</a>
						<a class="menu__item" href="./">На шапках</a>
					</div>
				</div>
			</div>
		</div>

		<!-- ЧЕТВЕРТЫЙ БЛОК: СУБЛИМАЦИЯ -->
		<div class="menu__item">
			<span class="menu__inside">СУБЛИМАЦИЯ <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></span>
			<div class="menu__level menu__level_0">
				<button class="menu__back">Назад</button>

				<div class="menu__item">
					<a class="menu__upside" href="./">СУБЛИМАЦИЯ</a>

					<a class="menu__inside" href="./">На трикотаже <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">На футболках</a>
						<a class="menu__item" href="./">На рубашках-поло</a>
						<a class="menu__item" href="./">На свитшотах</a>
						<a class="menu__item" href="./">На толстовках</a>
						<a class="menu__item" href="./">На бомберах</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">На верхней одежде <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">На дождевиках</a>
						<a class="menu__item" href="./">На ветровиках</a>
						<a class="menu__item" href="./">На жилетах</a>
						<a class="menu__item" href="./">На куртках</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">На корпоративной одежде <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">На фартуках</a>
						<a class="menu__item" href="./">На галстуках</a>
						<a class="menu__item" href="./">На платках</a>
						<a class="menu__item" href="./">На накидках</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">На сувенирной продукции <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">На пледах</a>
						<a class="menu__item" href="./">На подушках</a>
						<a class="menu__item" href="./">На полотенцах</a>
						<a class="menu__item" href="./">На флагах</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">На сумках <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">На промо-сумках</a>
						<a class="menu__item" href="./">На рюкзаках-мешках</a>
						<a class="menu__item" href="./">На поясных сумках</a>
						<a class="menu__item" href="./">На рюкзаках</a>
					</div>
				</div>

				<div class="menu__item">
					<a class="menu__inside" href="./">На головных уборах <i class="menu__icon"><svg><use xlink:href="#arr-right"></use></svg></i></a>
					<div class="menu__level menu__level_1">
						<button class="menu__back">Назад</button>
						<a class="menu__item" href="./">На бейсболках</a>
						<a class="menu__item" href="./">На бандане-трубе</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>