<div class="modal__hidden">
	<div id="order">
		<div class="feedback feedback_order">
			<div class="feedback__logo modal__logo">
				<img src="./images/logo.svg" alt="">
				<span>Шьём для бизнеса</span>
			</div>
			<h1 class="feedback__title modal__title">Рассчитать стоимость вашей услуги</h1>
			<div class="feedback__text">Укажите ваши контакты и укажите данные по заказу, менеджер свяжется с вами в течение рабочего дня и даст подробную консультацию</div>
			<form action="./" class="feedback__form">
				<div class="feedback__fields">
					<label class="feedback__field">
						<span class="field__title">Имя</span>
						<input type="text" name="name">
					</label>
					<label class="feedback__field">
						<span class="field__title">Телефон</span>
						<input type="tel" name="phone">
					</label>
					<label class="feedback__field feedback__field_wide">
						<span class="field__title">Подробности о заказе</span>
						<textarea name="message"></textarea>
					</label>
				</div>
				<div class="feedback__bottom">
					<label class="feedback__agree">
						<input type="checkbox" checked>
						<span>Я соглашаюсь с <a href="./">политикой конфиденциальности</a></span>
					</label>
					<label class="feedback__agree">
						<input type="checkbox" checked>
						<span>Я соглашаюсь с обработкой персональных данных</span>
					</label>
					<button class="feedback__submit button">Отправить заявку</button>
				</div>
			</form>

			<div class="feedback__success">
				<h2 class="feedback__title feedback__title_success modal__title">Вашa заявка успешно отправлена!</h2>
				<div class="feedback__note">Наш сотрудник свяжется с вами, сразу как это будет возможно.</div>
				<button class="feedback__bye button modal__bye">Отлично!</button>
			</div>
		</div>
	</div>

	<div id="consult">
		<div class="feedback feedback_consult">
			<div class="feedback__logo modal__logo">
				<img src="./images/logo.svg" alt="">
				<span>Шьём для бизнеса</span>
			</div>
			<h1 class="feedback__title modal__title">Получить консультацию</h1>
			<div class="feedback__text">Укажите ваши контакты и опишите ваш вопрос, менеджер свяжется с вами в течение рабочего дня и даст подробную кончультацию</div>
			<form action="./" class="feedback__form">
				<div class="feedback__fields">
					<label class="feedback__field">
						<span class="field__title">Имя</span>
						<input type="text" name="name">
					</label>
					<label class="feedback__field">
						<span class="field__title">Телефон</span>
						<input type="tel" name="phone">
					</label>
					<label class="feedback__field feedback__field_wide">
						<span class="field__title">Ваш вопрос</span>
						<textarea name="message"></textarea>
					</label>
				</div>
				<div class="feedback__bottom">
					<label class="feedback__agree">
						<input type="checkbox" checked>
						<span>Я соглашаюсь с <a href="./">политикой конфиденциальности</a></span>
					</label>
					<label class="feedback__agree">
						<input type="checkbox" checked>
						<span>Я соглашаюсь с обработкой персональных данных</span>
					</label>
					<button class="feedback__submit button">Отправить заявку</button>
				</div>
			</form>

			<div class="feedback__success">
				<h2 class="feedback__title feedback__title_success modal__title">Вашa заявка успешно отправлена!</h2>
				<div class="feedback__note">Наш сотрудник свяжется с вами, сразу как это будет возможно.</div>
				<button class="feedback__bye button modal__bye">Отлично!</button>
			</div>
		</div>
	</div>

	<div id="callback">
		<div class="feedback feedback_callback">
			<div class="feedback__logo modal__logo">
				<img src="./images/logo.svg" alt="">
				<span>Шьём для бизнеса</span>
			</div>
			<h1 class="feedback__title modal__title">Обратный звонок</h1>
			<div class="feedback__text">Отправьте заявку на обратный звонок и в ближайшее время с вами свяжется наш менеджер</div>
			<form action="./" class="feedback__form">
				<div class="feedback__fields">
					<label class="feedback__field">
						<span class="field__title">Имя</span>
						<input type="text" name="name">
					</label>
					<label class="feedback__field">
						<span class="field__title">Телефон</span>
						<input type="tel" name="phone">
					</label>
				</div>
				<div class="feedback__bottom">
					<label class="feedback__agree">
						<input type="checkbox" checked>
						<span>Я соглашаюсь с <a href="./">политикой конфиденциальности</a></span>
					</label>
					<label class="feedback__agree">
						<input type="checkbox" checked>
						<span>Я соглашаюсь с обработкой персональных данных</span>
					</label>
					<button class="feedback__submit button">Отправить заявку</button>
				</div>
			</form>
		</div>
	</div>
</div>