<section class="price">
	<div class="price__inner container">
		<h3 class="price__title title">Прайс на пошив</h3>
		<div class="price__note">Стоимость указана за 1 штуку</div>
		<div class="price__items">
			<div class="price__item price__item_head">
				<span>Вид изделия</span><span>Стоимость</span>				
			</div>
			<div class="price__item price__item_head">
				<span>Вид изделия</span><span>Стоимость</span>				
			</div>
			<div class="price__item"><span>Футболки</span> <span>от 590 ₽</span></div>
			<div class="price__item"><span>Рубашки</span> <span>от 1 690 ₽</span></div>
			<div class="price__item"><span>Рубашки поло</span> <span>от 990 ₽</span></div>
			<div class="price__item"><span>Фартуки</span> <span>от 490 ₽</span></div>
			<div class="price__item"><span>Свитшоты</span> <span>от 1 290 ₽</span></div>
			<div class="price__item"><span>Пледы</span> <span>от 640 ₽</span></div>
			<div class="price__item"><span>Толстовки</span> <span>от 1 390 ₽</span></div>
			<div class="price__item"><span>Подушки</span> <span>от 490 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Бомберы</span> <span>от 1 690 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Тапочки</span> <span>от 390 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Ветровки</span> <span>от 1 690 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Шопперы</span> <span>от 220 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Жилеты</span> <span>от 2 490 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Рюкзаки</span> <span>от 1 490 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Куртки</span> <span>от 3 990 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Бейсболки</span> <span>от 290 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Лонгсливы</span> <span>от 400 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Флаги</span> <span>от 100 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Дождевики</span> <span>от 700 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Напульсники</span> <span>от 100 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Куртки-бомберы</span> <span>от 1 400 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Мешочки</span> <span>от 80 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Галстуки</span> <span>от 500 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Промо-сумки</span> <span>от 200 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Платки</span> <span>от 200 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Рюкзаки-мешки</span> <span>от 150 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Накидки</span> <span>от 400 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Поясные сумки</span> <span>от 400 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Полотенца</span> <span>от 300 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Шапки</span> <span>от 800 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Халаты</span> <span>от 1 200 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Банданы</span> <span>от 150 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Шарфы</span> <span>от 700 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Косынки</span> <span>от 100 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Варежки / перчатки</span> <span>от 400 ₽</span></div>
			<div class="price__item price__item_hide hidden"><span>Козырьки</span> <span>от 200 ₽</span></div>
		</div>
		<button class="price__more more more_hidden" data-more=".price__item_hide">
			<span>Смотреть полный прайс</span>
			<span>Свернуть</span>
		</button>
	</div>
</section>
