@use 'lib' as *;

.wholesale {
	$self: &;
	margin-bottom: 100px;
	
	@include media('<=xs') {
		margin-bottom: 60px;
	}

	&__inner {

	}

	&__title {
		margin-bottom: 50px;

		@include media('<=xs') {
			margin-bottom: 34px;
		}
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 24px;
		
		@include media('<=sm') {
			grid-gap: 16px;
		}
		
		@include media('<=xs') {
			grid-template-columns: 1fr;
			grid-gap: 8px;
		}
	}

	&__card {
		padding: 48px 32px 24px;
		background-color: #fff;
		border: 1px solid transparent;
		transition: border-color 0.3s;
		border-radius: 20px;

		@include media('<=xs') {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-radius: 10px;
			padding: 24px 16px;
			gap: 12px;
		}

		&:hover {
			border-color: #81B7FF;

			#{$self}__button.button {
				background-color: var(--blue);
				color: #fff;
			}
		}
	}

	&__head {

	}

	&__subtitle {
		font-size: fluid(24px, 14px);
		margin-bottom: 22px;
		font-weight: 500;

		@include media('<=md') {
			margin-bottom: 16px;
		}

		@include media('<=xs') {
			margin-bottom: 10px;
		}
	}
	
	&__text {
		font-size: fluid(18px, 12px);
		margin-bottom: 28px;

		@include media('<=xs') {
			margin: 0;
		}
	}

	&__button.button {
		@include media('<=xs') {
			height: 40px;
			font-size: 12px;
			min-width: 140px;
		}
	}
}