@use 'lib' as *;

.price2 {
	$self: &;
	margin-bottom: 100px;

	@include media('<=xs') {
		margin-bottom: 60px;
	}

	&__inner {
		border-radius: 30px;
		background-color: #fff;
		padding-bottom: 40px;
		padding-top: 45px;

		@include media('<=xlg') {
			border-radius: 0;
		}
	}

	&__title {
		margin-bottom: 22px;
	}

	&__note {
		font-size: fluid(16px, 14px);
		margin-bottom: 35px;
		font-weight: 300;

		@include media('<=xs') {
			text-align: center;
			margin-bottom: 16px;
		}
	}

	&__table {
		overflow-x: auto;
			
		&::-webkit-scrollbar {
			width: 4px;
			height: 4px;
		}
		
		&::-webkit-scrollbar-track {
			background-color: #fff;
		}
		
		&::-webkit-scrollbar-thumb {
			background-color: var(--blue);
		}
		
		&::-webkit-scrollbar-corner {
			background-color: transparent;
		}

		table {
			font-size: fluid(18px, 16px);
			border-collapse: collapse;
			min-width: max-content;
			table-layout: fixed;
			border-spacing: 0;
			width: 100%;
		}

		thead tr {
			border-bottom: 1px solid var(--blue);
		}
		
		tbody tr {
			border-bottom: 1px solid rgba(var(--blue-rgb), 0.2);
		}

		th, td {
			padding: 21px;
			text-align: left;
			white-space: nowrap;
			
			@include media('<=xs') {
				padding: 16px;
			}
		}
		
		th {
			font-weight: 500;
			vertical-align: top;
			line-height: 1.4;

			span {
				font-weight: 300;
			}
		}
		
		td {
			&:first-child {
				@include media('<=xxs') {
					font-size: 14px;
				}
			}
		}

		&_lot {
			table {
				table-layout: auto;
				min-width: auto;
			}

			th, td {
				&:first-child {
					padding-left: 0;
					width: 270px;
					min-width: 120px;
				}
			}
		}
	}

	&__bottom {
		padding-top: 30px;
		line-height: 1.4;
		font-size: fluid(14px, 12px);
		font-weight: 500;

		@include media('<=xs') {
			padding-top: 24px;
		}

		p {
			margin: 0;
		}
	}
}