@use 'lib' as *;

.price {
	$self: &;
	margin-bottom: 100px;

	@include media('<=xs') {
		margin-bottom: 60px;
	}

	&__inner {
		border-radius: 30px;
		background-color: #fff;
		padding-bottom: 40px;
		padding-top: 46px;

		@include media('<=xlg') {
			border-radius: 0;
		}
	}

	&__head {
		margin-bottom: 50px;
	}

	&__title {
		margin-bottom: 24px;
	}

	&__note {
		font-size: fluid(16px, 14px);
		margin-bottom: 34px;
		font-weight: 300;

		@include media('<=xs') {
			text-align: center;
			margin-bottom: 16px;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0 24px;

		@include media('<=xs') {
			grid-template-columns: 1fr;
			grid-gap: 0;
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		padding: 21px 0;
		gap: 24px;
		font-size: fluid(18px, 14px);
		border-bottom: 1px solid rgba(var(--blue-rgb), 0.3);

		@include media('>xs') {
			&:nth-child(-n + 18) {
				display: flex !important;
			}
		}
			
		@include media('<=xs') {
			padding: 16px 0;

			&:first-child {
				display: none;
			}
		}

		&_head {
			font-size: fluid(18px, 16px);
			border-bottom: 1px solid var(--blue);
			font-weight: 500;
		}

		&_hide {
			animation: fadeIn 0.3s;
			
			&.hidden {
				display: none;
			}
		}

		span:last-child {
			min-width: 30%;
		}
	}
	
	&__more {
		margin: 40px auto 0;
	}

	&__bottom {
		padding-top: 60px;
		line-height: 1.4;
		font-size: fluid(18px, 14px);
		font-weight: 500;

		@include media('<=xs') {
			padding-top: 32px;
		}

		p {
			margin: 0;
		}
	}
}