@use 'lib' as *;

.deliver {
	$self: &;
	margin-bottom: 100px;

	@include media('<=xs') {
		margin-bottom: 60px;
	}

	&__inner {

	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin-bottom: 60px;
		grid-gap: 24px;
		
		@include media('<=sm') {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 16px;
		}
		
		@include media('<=xs') {
			margin-bottom: 32px;
		}
		
		@include media('<=xxs') {
			grid-template-columns: 1fr;
		}
	}

	&__item {

		img {
			object-fit: cover;
			display: block;
			height: 100%;
			width: 100%;
		}
	}

	&__note {
		font-size: fluid(24px, 18px);
		font-weight: 500;
		
		@include media('<=xs') {
			text-align: center;
		}
	}
}