@use 'lib' as *;

.works {
	$self: &;
	margin-bottom: 100px;
	
	@include media('<=xs') {
		margin-bottom: 60px;
	}

	&__inner {

	}

	&__top {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 60px;
		gap: 24px;

		@include media('<=xs') {
			margin-bottom: 32px;
		}
	}

	&__title {

	}

	&__button.button {
		margin-left: auto;

		@include media('<=sm') {
			display: none;
		}
	}

	&__slider {
		position: relative;
		
		@include media('<=sm') {
			margin-bottom: 24px;
		}
	}

	&__cards {

		&.swiper {
			@include media('<=xs') {
				padding-top: 0;
				margin-left: calc(var(--container-gap) * -1);
				margin-right: calc(var(--container-gap) * -1);
				padding-left: var(--container-gap);
				padding-right: var(--container-gap);
			}
		}
	}

	&__card.swiper-slide {
		display: flex;
		height: 500px;
	}

	&__controls {

		@include media('<=xs') {
			display: none;
		}
	}

	&__control {
		position: absolute;
		z-index: 2;
		top: calc(50% - 20px);

		&_prev {
			left: -18px;
		}

		&_next {
			right: -18px;
		}

		&.hidden {
			display: none;
		}
	}

	&__mobile-button.button {
		display: none;
		margin: 0 auto;

		@include media('<=sm') {
			display: flex;
		}
	}
}