@use 'lib' as *;

.head {
	$self: &;
	padding-top: 75px;
	
	@include media('<=xs') {
		padding-top: 40px;
	}
	
	&_lined #{$self}__inner {
		padding-bottom: 50px;
		border-bottom: 2px solid rgba(var(--dark-rgb), 0.1);
		
		@include media('<=xs') {
			border: none;
			padding-bottom: 0;
		}
	}
	
	&__inner {
		margin-bottom: 48px;
		
		@include media('<=xs') {
			margin-bottom: 32px;
		}
	}

	&__breadcrumbs {
		margin-bottom: 37px;

		@include media('<=xs') {
			margin-bottom: 43px;
		}
	}

	&__title {
		margin-bottom: 48px;
		
		@include media('<=xs') {
			margin-bottom: 24px;
			text-align: center;
		}
	}

	&__subtitle {
		margin-bottom: 20px;

		@include media('<=xs') {
			margin-bottom: 24px;

			br {
				display: none;
			}
		}
	}

	&__note {
		font-size: fluid(24px, 14px);
		margin-bottom: 24px;
		padding-top: 30px;
		font-weight: 500;
		line-height: 1.5;
		
		@include media('<=xs') {
			margin-bottom: 16px;
			text-align: center;
			padding: 0;

			br {
				display: none;
			}
		}
	}

	&__explain {
		font-size: fluid(16px, 14px);
		margin-bottom: 32px;
		line-height: 1.5;
		font-weight: 300;
		
		&_wide {
			display: flex;
			justify-content: space-between;
			gap: 24px;

			a {
				align-self: end;
				color: var(--text);
	
				@include media('<=sm') {
					display: none;
				}
			}
		}
		
		@include media('<=xs') {
			margin-bottom: 16px;
			text-align: center;

			br {
				display: none;
			}
		}

		p {
			margin: 0;
		}
	}

	&__button.button {
		
		@include media('<=xs') {
			margin: 0 auto;
		}
	}
	
	&__back.button {
		margin-bottom: 48px;
		padding: 0 30px;
	}
}