@use 'lib' as *;

.head {
	$self: &;
	padding-top: 70px;
	margin-bottom: 40px;
	
	@include media('<=xs') {
		padding-top: 40px;
	}

	&__inner {
		display: flex;
		flex-flow: column nowrap;
		gap: 32px;
	}

	&__breadcrumbs {

	}

	&__title {
		
		@include media('<=xs') {
			text-align: center;
		}
	}
}