@use 'lib' as *;

.footer {
	$self: &;
	background-color: var(--dark);
	border-radius: 30px 30px 0 0;
	padding: 50px 0 14px;
	color: #fff;
	
	@include media('<=xs') {
		padding: 32px 0 14px;
		border-radius: 0;
	}

	&__inner {
		display: flex;
		gap: 0 55px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);

		@include media('<=lg') {
			flex-flow: column nowrap;
		}

		@include media('<=md') {
			border-bottom: none;
		}
	}

	&__body {
		flex-grow: 1;
	}

	&__top {
		padding-bottom: 45px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		
		@include media('<=xs') {
			padding-bottom: 36px;
		}
			
		img {
			display: block;
			max-width: 830px;
			opacity: 0.15;
			width: 100%;
		}
	}
	
	&__bottom {
		padding: 24px 0;
		display: flex;
		justify-content: space-between;
		gap: 32px;
		
		@include media('<=md') {
			display: grid;
			margin-bottom: 24px;
			grid-template-columns: repeat(2, 1fr);
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		}
		
		@include media('<=xs') {
			gap: 24px;
		}
	}
	
	&__menu {
		grid-column: span 1;
		
		@include media('<=xs') {
			grid-column: span 2;
		}
	}

	&__contact {
		display: flex;
		flex-flow: column nowrap;
		grid-column: span 2;
		gap: 18px;
		
		@include media('<=xs') {
			padding-top: 24px;
			gap: 24px;
		}
	}

	&__link {
		color: inherit;
		font-size: 18px;
		text-decoration: none;
		white-space: nowrap;

		strong {
			font-weight: 600;
		}
	}

	&__buttons {
		display: flex;
		gap: 10px;
	}

	&__button.button {
		--ground: #fff;
		--color: #fff;
	}

	&__social {
		aspect-ratio: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		border: 1px solid #fff;
		height: 55px;

		svg {
			fill: #fff;
			height: 69%;
			width: 69%;
		}
	}

	&__side {
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-end;
		padding-bottom: 24px;
		gap: 14px;
		
		@include media('<=lg') {
			flex-flow: row nowrap;
			align-items: center;
			gap: 24px;
		}

		@include media('<=md') {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin-right: auto;
			grid-gap: 16px;
		}
	}

	&__badge-yandex {
		width: 100%;
		border-radius: 10px;
		aspect-ratio: 1 / 0.333 ;
		background-size: contain;
		background-repeat: no-repeat;
		max-width: 220px;
		
		@include media('<=lg') {
			flex-grow: 1;
		}
	}
	
	&__badge-dreamjob {
		width: 100%;
		overflow: hidden;
		border-radius: 10px;
		aspect-ratio: 1 / 0.333 ;
		max-width: 220px;
		
		@include media('<=lg') {
			flex-grow: 1;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__badge-sign {
		order: 1;

		@include media('<=md') {
			order: 0;
		}

		img {
			display: block;
		}
	}
	
	&__badge-gs1 {
		order: 1;

		@include media('<=md') {
			order: 0;
		}

		img {
			display: block;
		}
	}
}