@use 'lib' as *;

.footer {
	$self: &;
	background-color: var(--dark);
	border-radius: 30px 30px 0 0;
	padding: 50px 0 14px;
	color: #fff;

	&__inner {
		display: flex;
		gap: 55px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}

	&__body {
		flex-grow: 1;
	}

	&__top {
		padding-bottom: 45px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		
		img {
			display: block;
			max-width: 830px;
			width: 100%;
			opacity: 0.15;
		}
	}
	
	&__bottom {
		padding: 24px 0;
		display: flex;
		justify-content: space-between;
		gap: 32px;
	}

	&__menu {

	}

	&__contact {
		display: flex;
		flex-flow: column nowrap;
		gap: 18px;
	}

	&__link {
		color: inherit;
		font-size: 18px;
		text-decoration: none;
		white-space: nowrap;

		strong {
			font-weight: 600;
		}
	}

	&__buttons {
		display: flex;
		gap: 10px;
	}

	&__button.button {
		--ground: #fff;
		--color: #fff;
	}

	&__social {
		aspect-ratio: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		border: 1px solid #fff;
		height: 55px;

		svg {
			fill: #fff;
			height: 69%;
			width: 69%;
		}
	}

	&__side {
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-end;
		max-width: 220px;
		flex-grow: 1;
		gap: 14px;
	}

	&__badge-yandex {
		width: 100%;
		aspect-ratio: 1 / 0.333 ;
		background-size: contain;
		background-repeat: no-repeat;
	}
	
	&__badge-dreamjob {
		width: 100%;
		overflow: hidden;
		border-radius: 10px;
		aspect-ratio: 1 / 0.333 ;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__badge-sign {

		img {
			display: block;
		}
	}

	&__badge-gs1 {

		img {
			display: block;
		}
	}
}