@use 'lib' as *;

.service {
	$self: &;
	margin-bottom: 100px;
	
	@include media('<=xs') {
		margin-bottom: 60px;
	}

	&__inner {

	}

	&__title {
		margin-bottom: 24px;
	}
	
	&__text {
		margin-bottom: 45px;
		font-size: fluid(18px, 14px);

		@include media('<=xs') {
			text-align: center;
			margin-bottom: 32px;
		}
	}

	&__slider {
		position: relative;
	}

	&__cards.swiper {
		padding-top: 45px;
		
		@include media('<=xs') {
			padding-top: 0;
			margin-left: calc(var(--container-gap) * -1);
			margin-right: calc(var(--container-gap) * -1);
			padding-left: var(--container-gap);
			padding-right: var(--container-gap);
		}
	}

	&__card {

		&_up {
			@include media('>xs') {
				translate: 0 -45px;
			}
		}

		&-image {
			height: 460px;
			overflow: hidden;
			border-radius: 20px;
			
			@include media('<=xs') {
				border-radius: 15px;
			}

			img {
				object-fit: cover;
				display: block;
				height: 100%;
				width: 100%;
			}
		}
	
		&-name {
			padding-top: 30px;
			font-weight: 500;
			font-size: fluid(18px, 16px);
			
			@include media('<=xs') {
				padding-top: 12px;
			}
		}
	}

	&__controls {

		@include media('<=xs') {
			display: none;
		}
	}

	&__control {
		position: absolute;
		z-index: 2;
		top: calc(50% - 20px);

		&_prev {
			left: -18px;
		}

		&_next {
			right: -18px;
		}

		&.hidden {
			display: none;
		}
	}
}