@use 'lib' as *;

.certificate {
	$self: &;
	margin-bottom: 100px;

	@include media('<=xs') {
		margin-bottom: 50px;
	}

	&__inner {

	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 24px;

		@include media('<=md') {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include media('<=sm') {
			grid-gap: 16px;			
		}
		
		@include media('<=xs') {
			grid-gap: 10px;			
		}
		
		@include media('<=xxs') {
			grid-template-columns: 1fr;
		}
	}

	&__item {

	}
}