@use 'lib' as *;

.ft-menu {
	$self: &;

	&__title {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 16px;
	}

	&__links {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 16px 32px;
	}

	&__link {
		grid-column: span 1;
		text-decoration: none;
		white-space: nowrap;
		color: inherit;
		
		&_wide {
			grid-column: span 2;
		}
	}
}