@use 'lib' as *;

.menu {
	$self: &;

	@include media('<=lg') {
		padding: 75px 24px 30px;
		background-color: var(--cloud);
		background-image: url('./images/parquet-4.svg');
		background-repeat: no-repeat;
		background-size: auto 130%;
		background-position: top 30% right 20%;

		@include media('<=xs') {
			padding: 60px 12px 30px;
		}

		&::before {
			display: block;
			content: '';
			width: 100%;
			height: 75px;
			background-color: #fff;
			position: absolute;
			left: 0;
			top: 0;

			@include media('<=xs') {
				height: 60px;
			}
		}
	}

	&__close {
		@extend %reset-button;
		display: none;
		width: 32px;
		height: 32px;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 1;
		background-color: var(--blue);
		border-radius: 10px;
		align-items: center;
		justify-content: center;

		@include media('<=lg') {
			display: flex;
		}

		@include media('<=xs') {
			top: 14px;
		}

		@include media('<=xxs') {
			display: none;
		}

		svg {
			display: block;
			fill: #fff;
			width: 55%;
			height: 55%;
		}
	}

	&__top {
		display: none;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
		padding: 16px 0 24px;

		@include media('<=lg') {
			display: flex;
		}
	}

	&__contact {

		a {
			display: block;
			color: var(--blue);
			text-decoration: none;

			&:nth-child(1) {
				font-size: 18px;
				font-weight: 500;
			}

			&:nth-child(2) {
				font-size: 12px;
				font-weight: 300;
			}
		}
	}

	&__button.button {
		height: 40px;
		padding: 0 20px;
		white-space: nowrap;
		font-size: 14px;

		@include media('<=xxxs') {
			height: 36px;
			padding: 0 16px;
			font-size: 13px;
		}
	}

	&__viewbox {
		height: 100%;

		@include media('<=lg') {
			height: 100%;
			display: flex;
			overflow: hidden;

			/* &::-webkit-scrollbar {
				width: 6px;
				height: 6px;
			}

			&::-webkit-scrollbar-track {
				background-color: #fff;
			}

			&::-webkit-scrollbar-thumb {
				background-color: var(--blue);
			}

			&::-webkit-scrollbar-corner {
				background-color: transparent;
			} */
		}
	}

	&__wrapper {
		height: 100%;
		flex-grow: 1;
		display: flex;
		gap: fluid(24px, 14px, 1280, 1100);
		transition: left 0.2s linear;
		position: relative;

		@include media('<=lg') {
			margin-bottom: auto;
			flex-flow: column nowrap;
			flex-shrink: 0;
			width: 100%;
			gap: 0;
			position: relative;
			transform: translateX(var(--slide, 0));
			transition: transform 0.5s ease;
		}

		&.sliding {
			#{$self}__icon {
				visibility: hidden;
			}
		}
	}

	&__head-link {
		color: var(--text);
		text-decoration: none;
		font-size: fluid(16px, 15px, 1280, 1100);
		display: flex;
		align-items: center;

		@include media('<=lg') {
			color: var(--blue);
			font-weight: 500;
			font-size: 16px;
			min-height: 50px;
			border-bottom: 1px solid rgba(var(--blue-rgb), 0.15);

			> span:hover {
				text-decoration: underline;
			}
		}

		> span {
			display: block;
			text-decoration: none;
			white-space: nowrap;
		}
	}

	&__head-catalog {
		text-decoration: none;
		font-size: fluid(16px, 15px, 1280, 1100);
		color: var(--text);

		@include media('>lg') {
			display: flex;
			align-items: center;
			position: relative;

			&:hover {
				&::before {
					display: block;
					content: '';
					width: 100%;
					height: 50%;
					position: absolute;
					background-color: var(--cloud);
					animation: fadeIn 0.3s;
					z-index: -1;
					top: 50%;
					left: 0;
				}

				#{$self}__panel {
					display: block;
				}
			}

			> span {
				cursor: pointer;
				padding: 10px 20px;
				text-transform: uppercase;
				background-color: var(--cloud);
				border-radius: 100px;
			}
		}

		@include media('<=lg') {
			font-size: 16px;
			order: 1;

			> span {
				display: none;
			}
		}
	}

	&__panel {
		display: none;
		padding: 32px 32px 64px;
		border-radius: 0 0 20px 20px;
		animation: fadeIn 0.3s;
		position: fixed;
		z-index: 1;
		top: 75px;
		left: max(var(--container-gap), (calc(var(--vw, 1vw) * 100 - var(--container)) / 2) + var(--container-gap));
		width: min(calc(var(--container) - var(--container-gap) * 2), calc(var(--vw, 1vw) * 100 - var(--container-gap) * 2));
		background-color: var(--cloud);
		background-image: url('./images/parquet-5.svg');
		background-repeat: no-repeat;
		background-size: 80% auto;
		background-position: top -15px right -140%;

		@include media('<=lg') {
			display: contents;
		}
	}

	&__upside {
		display: none;
		font-weight: 500;
		text-decoration: none;
		margin-bottom: 16px;

		@include media('<=lg') {
			display: block;
		}
	}

	&__inside {
		display: block;
		font-weight: 500;
		text-decoration: none;
		
		@include media('>lg') {
			margin-bottom: 24px;
		}
		
		@include media('<=lg') {
			cursor: pointer;
			min-height: 50px;
			display: flex;
			align-items: center;
			// background: svg-url('<svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.7351 10.6512L14.4843 19.7472C13.683 20.5353 12.3145 19.3049 13.1744 18.4592L20.847 10.9168H0.878261C-0.256427 10.9168 -0.328526 9.09753 0.878261 9.09753H20.847L13.1744 1.55505C12.3623 0.756451 13.6332 -0.569905 14.4843 0.267039L23.7351 9.36314C24.0864 9.70758 24.0902 10.3028 23.7351 10.6512Z" fill="#002B69"/></svg>') center right / 17px 14px no-repeat transparent;
		}
	}

	a#{&}__inside > span:hover {
		text-decoration: underline;
	}

	&__icon {
		display: flex;
		margin-left: auto;
		align-self: stretch;
		align-items: center;
		justify-content: flex-end;
		min-width: 50px;
		flex-grow: 1;

		@include media('>lg') {
			display: none;
		}

		svg {
			width: 17px;
			height: 14px;
			fill: var(--blue);
			display: block;
		}
	}

	&__item {
		display: block;
		color: var(--blue);
		text-decoration: none;

		@include media('<=lg') {
			min-height: 50px;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			border-bottom: 1px solid rgba(var(--blue-rgb), 0.15);
		}
	}

	a#{&}__item:hover {
		text-decoration: underline;
	}

	&__controls {
		margin-bottom: 32px;
		display: flex;
		gap: 24px;

		@include media('<=lg') {
			display: none;
		}
	}

	&__control {
		@extend %reset-button;
		text-transform: uppercase;
		text-decoration: none;

		&:hover, &.showed {
			text-decoration: underline;
			text-shadow: 0 0 0 var(--blue);
			color: var(--blue);
		}

		&.showed {
			text-shadow: 0 0 0 var(--blue);
		}
	}

	&__level {
		position: relative;
		flex-shrink: 0;
		// justify-content: space-between;
		
		@include media('<=lg') {
			opacity: 0;
			width: 100%;
			visibility: hidden;
			transition: opacity 0.5s ease;
		}

		&.active {
			opacity: 1;
			visibility: visible;
		}

		&_0 {
			@include media('>lg') {
				display: none;
				animation: fadeIn 0.3s;
				gap: 40px;

				&.showed {
					display: flex;
				}
				
				#{$self}__back {
					display: none;
				}
			}

			@include media('<=lg') {
				display: block;
				position: absolute;
				right: 0;
				bottom: 0;
				top: 0;
				left: 100%;
				flex-direction: column;
				height: 100%;
			}
		}

		&_1 {
			@include media('>lg') {
				display: flex;
				flex-flow: column nowrap;
				gap: 16px;
			}

			@include media('<=lg') {
				flex-direction: column;
				position: absolute;
				left: 100%;
				right: 0;
				top: 0;
				height: 100%;
			}
		}
	}

	&__back {
		@extend %reset-button;
		color: var(--blue);
		padding: 16px 0 24px 0;
		font-weight: 500;
	}

	&__catalog {
		@include media('>lg') {
			> #{$self}__item > span {
				display: none;
			}
		}

		@include media('<=lg') {
			padding-top: 20px;
		}
	}

	&__socials {
		padding-top: 30px;
		display: none;
		align-items: center;
		gap: 16px;
		font-size: 14px;

		@include media('<=lg') {
			display: flex;
			margin-top: auto;
		}
	}

	&__social {
		height: 35px;
		width: 35px;

		svg {
			fill: var(--blue);
			width: 100%;
			height: 100%;
		}
	}
}