@use 'lib' as *;

.clients {
	$self: &;

	&__inner {
		display: flex;
		flex-flow: column nowrap;
	}

	&__title {
		margin-bottom: 20px;
	}

	&__line {
		display: flex;
		justify-content: space-between;
		padding: 30px 0;
		gap: 48px;
		
		&:not(:first-child) {
			border-top: 1px solid rgba(var(--black-rgb), 0.1);
		}

		@include media('<=xs') {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 24px 80px;
			padding: 12px 48px;
			border: none !important;
		}
		
		@include media('<=xxs') {
			grid-template-columns: 1fr;
			grid-gap: 0;
			padding: 0;

			&:nth-child(2) #{$self}__item:last-child {
				border: none;
			}

			&:nth-child(4) #{$self}__item:first-child {
				// border: none;
			}
		}
	}
	
	&__item {

		@include media('<=xxs') {
			border-bottom: 1px solid rgba(var(--black-rgb), 0.1);
			padding: 16px 0;
		}

		img {
			display: block;

			@include media('<=xxs') {
				max-width: 250px;
				margin: 0 auto;
			}
		}
	}
	
	&__cost {
		border-top: 1px solid var(--blue);
		padding-top: 90px;
		order: 1;
		
		@include media('<=xs') {
			padding-top: 40px;
			border: none;
		}
		
		@include media('<=xxs') {
			order: 0;
		}
	}
}