@use 'lib' as *;

.m-about {
	$self: &;

	@include media('>lg') {
		position: relative;
	
		&:hover {
			#{$self}__ddown {
				display: flex;
			}

			/* #{$self}__head > span::after {
				transition: translate 0.3s;
				translate: 0 2px;
			} */
		}
	}

	@include media('<=lg') {
		position: static;
		align-items: stretch;
	}

	&__head {
		text-decoration: none;
		white-space: nowrap;

		@include media('>lg') {
			> span {
				display: flex;
				align-items: center;
				gap: 3px;

				&::after {
					display: block;
					content: '';
					width: 13px;
					height: 8px;
					background: svg-url('<svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.77789 7.72168L1 2.34415L2.44422 0.999999L7.5 5.70546L12.5558 1L14 2.34415L8.22211 7.72168C8.03057 7.89989 7.77083 8 7.5 8C7.22917 8 6.96943 7.89989 6.77789 7.72168Z" fill="#272727"/></svg>') center / contain no-repeat transparent;
				}
			}
		}
		
		@include media('<=lg') {
			display: flex;
			align-items: center;
			width: 100%;

			> span:hover {
				text-decoration: underline;
			}
		}
	}

	&__icon {

	}

	&__ddown {
		
		@include media('>lg') {
			display: none;
			position: absolute;
			top: calc(100% - 15px);
			z-index: 2;
			left: 0;
			flex-flow: column nowrap;
			border-radius: 12px;
			padding: 24px;
			width: auto;
			gap: 16px !important;
			background-size: auto 400px;
			background-repeat: no-repeat;
			background-color: var(--cloud);
			background-image: url('./images/parquet-5.svg');
			background-position: bottom -180px right -200px;
		}
	}

	&__link {
		display: block;
		color: var(--blue);
		text-decoration: none;
		white-space: nowrap;
		font-weight: normal;

		@include media('<=lg') {
			min-height: 50px;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			border-bottom: 1px solid rgba(var(--blue-rgb), 0.15);
		}

		&:hover {
			text-decoration: underline;
		}
	}
}